/* purgecss start ignore */
@tailwind base;

@tailwind components;
@tailwind utilities;

/* Start purging... */

/* Stop purging. */

.swiper {
  width: 100%;
  height: 100%;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;600&display=swap");

.image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.swiper-slide {
  text-align: left;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: left;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  text-align: left !important;
  margin-left: 7.5vw;
  margin-top: 10rem !important;
}

.section {
  width: 85vw;
  max-width: 1640px;
  margin-left: auto;
  margin-right: auto;
}

.section-full-contained {
  width: 100vw;
  max-width: 2600px;
  margin-left: auto;
  margin-right: auto;
}

.section-full-limited {
  width: 100vw;
  max-width: 5000px;
  margin-left: auto;
  margin-right: auto;
}

.section-full {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

#previewGrid {
  grid-template-areas:
    "timeAndDate"
    "where";
}

.preview-1 * {
  color: white;
}

.where {
  grid-area: where;
}

.timeAndDate {
  grid-adrea: timeAndDate;
}

#program-flow .program-item:nth-child(2) {
  min-height: 40vh;
}

#program-flow .program-item:nth-child(2) {
  margin-top: 20rem;
  min-height: 40vh;
}

#program-flow .program-item:nth-child(3) {
}

#program-flow .program-item:nth-child(4) {
  margin-top: 20vh;
  min-height: 40vh;
}

#program-flow .program-item:nth-child(5) {
  margin-top: 20vh;
  min-height: 40vh;
}

.clip-svg {
  clip-path: url(#myClip);
  width: 100vw;
}

/* purgecss end ignore */
