/* purgecss start ignore */
@tailwind base;

@tailwind components;

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* purgecss end ignore */

/* SECTIONS */

.section {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

.section-full {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

/* SWIPER */

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}
